<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaoshaproject.dao.UserDOMapper">


    <resultMap id="BaseResultMap" type="com.miaoshaproject.dataobject.UserDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="telphone" jdbcType="VARCHAR" property="telphone"/>
        <result column="register_mode" jdbcType="VARCHAR" property="registerMode"/>
        <result column="third_party_id" jdbcType="VARCHAR" property="thirdPartyId"/>
    </resultMap>


    <sql id="Base_Column_List">
    id, name, gender, age, telphone, register_mode, third_party_id
    </sql>


    <select id="selectByTelphone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where telphone = #{telphone}
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id}
    </delete>


    <insert id="insert" parameterType="com.miaoshaproject.dataobject.UserDO">
    insert into user_info (id, name, gender, 
      age, telphone, register_mode, 
      third_party_id)
    values (#{id}, #{name}, #{gender}, 
      #{age}, #{telphone}, #{registerMode}, 
      #{thirdPartyId})
     </insert>


    <insert id="insertSelective" parameterType="com.miaoshaproject.dataobject.UserDO" keyProperty="id"
            useGeneratedKeys="true">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="telphone != null">
                telphone,
            </if>
            <if test="registerMode != null">
                register_mode,
            </if>
            <if test="thirdPartyId != null">
                third_party_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="age != null">
                #{age},
            </if>
            <if test="telphone != null">
                #{telphone},
            </if>
            <if test="registerMode != null">
                #{registerMode},
            </if>
            <if test="thirdPartyId != null">
                #{thirdPartyId},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.miaoshaproject.dataobject.UserDO">
        update user_info
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="telphone != null">
                telphone = #{telphone},
            </if>
            <if test="registerMode != null">
                register_mode = #{registerMode},
            </if>
            <if test="thirdPartyId != null">
                third_party_id = #{thirdPartyId},
            </if>
        </set>
        where id = #{id}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.miaoshaproject.dataobject.UserDO">
    update user_info
    set name = #{name},
      gender = #{gender},
      age = #{age},
      telphone = #{telphone},
      register_mode = #{registerMode},
      third_party_id = #{thirdPartyId}
    where id = #{id}
    </update>

</mapper>